/* 
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* 
    GENERAL
*/
.line-height-20 {
    line-height: 20px;
}

main section:not(:nth-child(5)) {
    margin-bottom: 100px;
}

.button {
    padding: 10px;
    background-color: #015AEE;
}

.button-2 {
    padding: 16px;
    background-color: #015AEE;
    text-align: center;
}

.button-3 {
    padding: 10px;
    border: 1px solid black;
}

.black {
    color: black;
}

.no-decoration {
    text-decoration: none;
}

.frequency {
    color: #666666;
}

.flex {
    display: flex;
}

.margin-top-24 {
    margin-top: 24px;
}

.margin-top-40 {
    margin-top: 40px;
}

.margin-left-16 {
    margin-left: 16px;
}

.margin-left-24 {
    margin-left: 24px;
}

.margin-right-8 {
    margin-right: 8px;
}

.margin-bottom-8 {
    margin-bottom: 8px;
}

.margin-bottom-16 {
    margin-bottom: 16px;
}

.margin-bottom-24 {
    margin-bottom: 24px;
}

.margin-bottom-32 {
    margin-bottom: 32px;
}

.margin-bottom-40 {
    margin-bottom: 40px;
}

.margin-bottom-80 {
    margin-bottom: 80px;
}

.padding-top-8 {
    padding-top: 8px;
}

.padding-bottom-8 {
    padding-bottom: 8px;
}

.height-100 {
    height: 100px;
}

/* 
    HEADER-TOP
*/
header {
    margin-bottom: 100px;
}

.header-top {
    width: 100vw;
    height: 40px;
    display: flex;
    justify-content: space-between;
}

.header-top {
    font-size: 15px;
}

.header-top-left {
    width: 550px;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.header-top-right {
    width: 550px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
}

.header-top .header-top-left .header-top-box {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.header-top .header-top-right .header-top-box:not(:nth-child(4)) {
    height: 40px;
    padding: 0 16px;
    display: flex;
    align-items: center;
}

.header-top .header-top-right .header-top-box:nth-child(4) {
    height: 40px;
    display: flex;
    align-items: center;
}

.header-top-box a {
    text-decoration: none;
    color: black;
}

.header-top-box img {
    width: 100%;
}

.header-top .header-top-right .header-top-box:last-child a {
    color: white;
}

/* 
    HEADER-BOTTOM
*/
.header-bottom {
    width: 100vw;
    height: 400px;
    background-color: #B4D0E7;
    display: flex;
    justify-content: center;
}

.header-bottom-container {
    width: 60%;
    height: 400px;
}

.h1-container {
    height: 120px;
    display: flex;
    align-items: center;
}

.header-bottom-container-2 {
    width: 100%;
    height: calc(100% - 120px);
    display: flex;
}

.header-bottom-container-3 {
    width: 35%;
    height: 100%;
}

.header-bottom-container-4 {
    width: 75%;
    height: calc(100% + 50px);
}

.header-bottom img {
    width: 100%;
}

.header-bottom p {
    font-size: 14px;
    line-height: 20px;
}

.free-trial {
    margin-top: 40px;
    margin-bottom: 40px;
}

.free-trial a {
    color: white;
}

.cancel a {
    color: black;
}

/* 
    MAIN
*/

/* 
    SECTION 1
*/
.section-1-container {
    width: 100vw;
    min-height: 1200px;
    /* border: 1px dashed black; */
    display: flex;
    justify-content: center;
}

.section-1-restricted-container {
    width: 50%;
    /* border: 1px dashed black; */
}

.section-1-restricted-container .billing-container span {
    margin-right: 24px;
}

.section-1-container-2 {
    width: 100%;
    /* border: 1px dashed black; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.section-1-container-2-child {
    width: calc((100% / 3) - 12px);
    border: 1px solid lightgray;
}

.section-1-container-2 .section-1-container-2-child .button-2 a {
    color: white;
}

.free-30 {
    margin-left: 16px;
    margin-right: 16px;
}

.section-1-container-2-nephew {
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-1-container-2 .section-1-container-2-child .margin-left-16 a {
    color: #015AEE;
}

.section-1-container-2 .section-1-container-2-child hr {
    width: 20%;
}

.section-1-container-2 .section-1-container-2-child ul li span {
    color: #015AEE;
}

.section-1-container-3 {
    width: 100%;
    border: 1px solid lightgray;
    display: flex;
    flex-wrap: wrap;
}

.section-1-container-3-small-child {
    width: 100%;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: center;
}

.enterprise {
    width: 70%;
}

.contact {
    width: 30%;
}

.contact a {
    color: white;
}

/* 
    SECTION 2
*/
.section-2-container {
    width: 100vw;
    min-height: 300px;
    /* border: 1px dashed black; */
    display: flex;
    justify-content: center;
}

.section-2-restricted-container {
    width: 50%;
    /* border: 1px dashed black; */
    display: flex;
}

.two-guys-foto-container {
    width: 60%;
}

.two-guys-foto-container img {
    width: 100%;
    display: block;
}

.find-a-partner {
    width: 40%;
}

/* 
    SECTION 3
*/
.section-3-container {
    width: 100vw;
    height: 700px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
}

.section-3-restricted-container {
    width: 50%;
    height: 700px;
    border: 1px dashed black;
}

.section-3-restricted-container h2 {
    margin-bottom: 32px;
}

.section-3-restricted-container h2 {
    margin-bottom: 32px;
}

.h2-container {
    height: 48px;
}

.section-3-container-2 {
    width: 100%;
    height: calc(100% - 48px);
    border: 1px dashed black;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.section-3-container-2-child {
    width: calc((100% / 3) - 20px);
    margin-bottom: 20px;
    height: calc((100% / 2) - 10px);
    border: 1px dashed black;
}

/* 
    SECTION 4
*/
.section-4-container {
    width: 100vw;
    height: 350px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
}

.section-4-restricted-container {
    width: 50%;
    height: 350px;
    border: 1px dashed black;
}

/* 
    SECTION 5
*/
.section-5-container {
    width: 100vw;
    height: calc(100vw / 3);
    border: 1px dashed black;
    display: flex;
}

.section-5-container-child {
    width: calc(100% / 3);
    height: calc(100vw / 3);
    border: 1px dashed black;
}

.section-5-container .section-5-container-child:nth-child(odd) {
    display: flex;
    flex-wrap: wrap;
}

.section-5-container-nephew {
    width: 49.4%; /* WTF? 😡 */
    height: 50%;
    border: 1px dashed black;
}

/* 
    SECTION 6
*/
.section-6-container {
    width: 100vw;
    height: calc(100vw / 6);
    border: 1px dashed black;
    display: flex;
    justify-content: center;
}

.section-6-restricted-container {
    width: 50%;
    height: calc(100vw / 6);
    border: 1px dashed black;
}

/* 
    SECTION 7
*/
.section-7-container {
    width: 100vw;
    height: 450px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-7-restricted-container {
    width: 50%;
    height: 350px;
    border: 1px dashed black;
}

/* 
    FOOTER
*/
.footer-top-container {
    width: 100vw;
    height: 400px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-top-restricted-container {
    width: 60%;
    height: 400px;
    border: 1px dashed black;
}

.footer-bottom-container {
    width: 100vw;
    height: 100px;
    border: 1px dashed black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-bottom-restricted-container {
    width: 60%;
    height: 100px;
    border: 1px dashed black;
}



